@font-face {
    font-family: "Batuphat Script Extrude";
    src: url("../assets/fonts/BatuphatScript.otf") format("opentype");
}
@font-face {
    font-family: "Batuphat Script";
    src: url("../assets/fonts/BatuphatScript.otf") format("opentype");
}
@font-face {
    font-family: "Mythias";
    src: url("../assets/fonts/Mythias.otf") format("opentype");
}