.tituloTrivia{
  font-family: 'Mythias';
  font-size: 70px;
  color: #fff;
}
.playing{
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #AD4093;
  background-color: #000;
  background-position: center;
  height: 100vh;

}
.tablero{
    color: #fff;
    margin: 27px;
    height: -webkit-fill-available;
    background-image: url('../../assets/image/triviaTitulo2.png');
    background-position:center ;
    background-size: cover;
    background-position: right;
}
.puntos{
    text-align: center;
}
.espera{
  margin: 20%;
}

.strike-center img{
  animation: maquina-strike 1s;
  z-index: 1;
  width: 0;
}

.strike img{
  width: 80px;
  height: 80px;
}
.respuestas{
  margin: 2%;
  padding: 5%;
  border-style: solid ;
  border-color: #fff;
  box-shadow: inset 0 0 22px yellow, 0 0 25px yellow;
  min-height: 54vh; 
  background-color: #000;
}

.luz{
  background-image: url('../../assets/image/border-y.gif');
  background-size: 2%;
  background-repeat: round;
  padding: 1px;
  height: 100%;
}

.respuestas h1{
    position: relative;
    z-index: 10;
}
.respuestas .dotted{
  width: 100%;
  height: 34px;
  line-height: 0;
  border-bottom: 4px dotted white;
  
}

.resultados{
    text-align: center;
}
.totalPuntos{
  text-align: center;
    color: #fff;
    border-style: solid ;
    border-color: #fff;

    box-shadow: inset 0 0 22px yellow, 0 0 25px yellow;
    height: fit-content;
    background-color: #000;
}
.visible {
    opacity: 1;
}
.invisible {
    opacity: 0;
}


// Texto animado maquina de escribir

.texto {
    float:left;
    color: #fff;
    position:relative;
}
.texto span{
    position: absolute;
    right: 0;
    width: 0;
    background: #000;
    padding: 0;
    height: 100%;
    opacity: 1;
    animation: maquina 1s  ;
}

@keyframes maquina-strike {
  from { 
    position: absolute;
    z-index: 1;
    width: 300px;
    height: 300px;
    top: 30%;
    right: 39%;
  }
  to {
    position: absolute;
    z-index: 1;
    width: 0px;
    height: 0px;
    top: 85%;
    right: 50%;
   
  }
}

@keyframes maquina {
    from { 
        width: 100%;
    }
    to {
        width: 0;
    }
}

@keyframes borde {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

//animations
.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
 @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  