
<app-menu menu="home"></app-menu>
<body class="container">
    <div>
        <span>
            Bienvenido a la trivia de 100 Mexicanos Dijieron, da de alta tu modalidad en Registrar trivia y disfruta el juego.
            
         </span>
    </div>
    <br/>
    
    <div>
        <span>
           <b>Modalidad</b>
           <ul>
            <li>2 grupos de 6 integrantes.</li>
            <li>1 administrador del juego.</li>
           </ul>
        </span>
    </div>
    <div>
        <span>
           <b>Novedades</b>
           <ul>
            <li>Asignar titulo del juego.</li>
            <li>Asignar nombre de grupos.</li>
            <li>Crear cuestionario.</li>
            <li>Panel administrativo.</li>
           </ul>
        </span>
    </div>
    <div>
        <span>
           <b>Instrucciones</b>
           <ul>
            <li>1.- Da click en Registrar trivia para crear una sala de juego.</li>
            <li>2.- Escoge tu trivia.</li>
            <li>3.- Asigna nombre de trivia y participantes.</li>
            <li>4.- Se generara codigo de juego.</li>
            <li>5.- Abre la pagina en otro navegador o dispositivo movil.</li>
            <li>6.- Da click en registrar administrador.</li>
            <li>7.- Ingresa el codigo generado en el paso 4.</li>
           </ul>
        </span>
    </div>
</body>
